<H2>Lista de Computadores</H2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>image</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Placa-mãe</th>
            <th>Memória RAM</th>
            <th>HD e Marca</th>
            <th>Velocidade do processador</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let computador of this.computadorArr">
            <td><img [src]="" width="40" height="40"></td>
            <td>{{ computador.marca }}</td>
            <td>{{ computador.modelo }}</td>
            <td>{{ computador.placaM }}</td>
            <td>{{ computador.memoR }}</td>
            <td>{{ computador.hdMarca }}</td>
            <td>{{ computador.speed }}</td>
            <td></td>
        </tr>
    </tbody>
</table>