.container-table{
    margin: 30px;
    margin-top: 50px;
}

button{
    float: right;
    border-radius: 5px;
}

input {
    float: right;
    border-radius: 5px;
}

table{
    width: 100%;
    background-color: rgba(10,23,55,0.4);
    color: white;
    margin-top:50px;
}

h2 {
    text-align: center;
    color: white;
}

th, td {
    
    border:1px solid black;
    text-align: center;
}

tbody{
    border-top: 2px solid black!important;
}