<div class="card">
    <h1>Cadastrar computador</h1>
    <form>
        <div class="form-group">
            <label for="">Marca</label>
            <input type="text">
            
            <label for="">Modelo</label>
            <input type="text">
            
            <label for="">Placa-mãe</label>
            <input type="text">
            
            <label for="">memória RAM</label>
            <input type="text"> 
            
            <label for="">HD e sua marca</label>
            <input type="text">

            <label for="">Velocidade do processador</label>
            <input type="text">
            <img src="" alt="">

        </div>

        <button>CADASTRAR</button>
    </form>
</div>