.card {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 40px;
    align-items:center;
    background-color: rgba(10,23,55,0.5);
    color: white;
}

h1 {
    text-align: center;
    font-family: serif;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    width: 330px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button {
    height: 40px;
    width: auto;
    border-radius: 8px;
    margin: 20px;
    margin-left: 100px;
}