/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    margin: none;
}

body {
    margin: auto;
    height: auto;
    background-image: url(./assets/background/fundo-cadastro.jpg);
    background-position: center;
    background-repeat: no-repeat;
}


